<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Elite Schedule</ion-title>
    </ion-navbar>
    <ion-toolbar color="secondary">
        <ion-title>Myteams</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <p>You´re not currently following any team</p>
  <p>Select a Tournament to follow your team</p>
  <button ion-button (click)='goToTournaments()'>Find a Tournament</button>
</ion-content>

